.container {
  margin-top: 35px;
  width: 300px;
  height: 100px;
}
.title2 {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  color: whitesmoke;
}

.calendar {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.day {
  width: 100px;
  text-align: left;
}

.weather7Days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border-bottom: 1px solid grey;
  color: white;
}

.weather7Days img {
  width: 70px;
  height: 70px;
}
